<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>online-chat</title>
    <link rel="stylesheet" href="__COMMON__/layui/css/layui.css" media="all">
    <script src="__COMMON__/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
    var user_list_url = "{:url('index/getList')}";
    var upload_img_url = "{:url('upload/uploadImg')}";  //发送图片接口
    var chatlog_url = "{:url('Chatlog/index')}";  //聊天记录接口
    var uid = "{$uinfo.id}";
    var uname = "{$uinfo.username}";
    var avatar = "{$uinfo.avatar}";
    var sign = "{$uinfo.sign}";
</script>
<script src="__COMMON__/layui/layui.js"></script>
<script type="text/javascript" src="__COMMON__/js/main.js"></script>
</body>
</html>