<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <script src="__COMMON__/jquery.min.js"></script>
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <style type="text/css">
        .ad {display:none!important;display:none}</style>
</head>
<body class="gray-bg">
<a  class="btn btn-success" style="position:absolute;top:100px;right:50px;" id="kf" data-name="马云" data-id="2">
    <i class="fa fa-weixin"> </i> 咨询客服
</a>
<script src="__COMMON__/layui/layui.js"></script>
<script src="__COMMON__/js/web.js"></script>

</body>
</html>